@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
</div>
<table border="1">
    <tr>
        <td style="text-align:center" colspan="5">
            禮盒
        </td>
    </tr>
    <tr>
        <th width="4%" style="text-align:center">
            入數
        </th>
        <th width="4%" style="text-align:center">
            名稱
        </th>
        <th width="18%" style="text-align:center">
            樣式/尺寸
        </th>
        <th width="18%" style="text-align:center">
            內襯
        </th>
        <td width="10%" style="text-align:center">
            售價
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            6入
        </td>
        <td style="text-align:center" rowspan="2">
            鳳之味
        </td>
        <td>
            <img src="~/image/Products/6入鳳之味.jpg" width="100%" />
        </td>
        <td rowspan="4">
            <img src="~/image//Products/6入內襯-1.jpg" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            180元/10入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            145x205x60mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            6入
        </td>
        <td style="text-align:center" rowspan="2">
            艾莉雅
        </td>
        <td>
            <img src="~/image/Products/6入艾莉雅.jpg" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            220元/10入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            206x146x56mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            6入
        </td>
        <td style="text-align:center" rowspan="2">
            伊蓮娜
        </td>
        <td>
            <img src="~/image/Products/6入伊蓮娜.png" width="100%" />
        </td>
        <td rowspan="4">
            <img src="~/image/Products/6入內襯.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            180元/10入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            210x145x60mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            6入
        </td>
        <td style="text-align:center" rowspan="2">
            花漾
        </td>
        <td>
            <img src="~/image/Products/12入花漾.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            180元/10入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            210x145x60m
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            8入
        </td>
        <td style="text-align:center" rowspan="2">
            瑰麗
        </td>
        <td>
            <img src="~/image/Products/8入瑰麗.jpg" width="100%" />
        </td>
        <td rowspan="2">
            <img src="~/image//Products/8入內襯.jpg" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            220元/10入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            270x145x60mm
        </td>
    </tr>


    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            伊蓮娜
        </td>
        <td>
            <img src="~/image/Products/12入伊蓮娜.png" width="100%" />
        </td>
        <td rowspan="18">
            <img src="~/image/Products/12入內襯.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            120元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            260x195x65mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            花漾
        </td>
        <td>
            <img src="~/image/Products/12入花漾.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            120元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            260x195x65mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            布拉格
        </td>
        <td>
            <img src="~/image/Products/12入布拉格.jpg" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            130元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            225x195x55mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            輕甜
        </td>
        <td>
            <img src="~/image/Products/12入輕甜.jpg" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            130元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            225x195x55mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            星夜曲
        </td>
        <td>
            <img src="~/image/Products/12入星夜曲.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            110元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            270x210x50mm
        </td>
    </tr>

    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            香氛季節
        </td>
        <td>
            <img src="~/image/Products/12入香氛季節.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            120元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            257x193x42mm
        </td>
    </tr>
    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            花韵
        </td>
        <td>
            <img src="~/image/Products/12入花韵(紅).png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            120元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            285x215x55mm
        </td>
    </tr>
    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            時悅
        </td>
        <td>
            <img src="~/image/Products/12入時悅.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            120元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            260x195x45mm
        </td>
    </tr>
    <tr>
        <td style="text-align:center" rowspan="2">
            12入
        </td>
        <td style="text-align:center" rowspan="2">
            綺悅
        </td>
        <td>
            <img src="~/image/Products/12入綺悅.png" width="100%" />
        </td>
        <td style="text-align:right" rowspan="2">
            120元/5入
        </td>
    </tr>
    <tr>
        <td style="text-align:center">
            260x195x45mm
        </td>
    </tr>
</table>
<br>
<br>
<table border="1" width="78%">
    <tr>
        <td style="text-align:center" colspan="10">
            豆沙
        </td>
    </tr>
    <tr>
        <th rowspan="2" width="30%" style="text-align:center">
            品名
        </th>
        <th colspan="3" style="text-align:center">
            售價
        </th>
        <th rowspan="2" width="30%" style="text-align:center">
            品名
        </th>
        <th colspan="3" style="text-align:center">
            售價
        </th>
    </tr>
    <tr>
        <th width="6%" style="text-align:center">
            1kg
        </th>
        <th width="6%" style="text-align:center">
            3kg
        </th>
        <th width="6%" style="text-align:center">
            6kg
        </th>
        <th width="6%" style="text-align:center">
            1kg
        </th>
        <th width="6%" style="text-align:center">
            3kg
        </th>
        <th width="6%" style="text-align:center">
            6kg
        </th>
    </tr>
    <tr>
        <td>
            銘珍 - 藍絲可奶油烏豆沙
        </td>
        <td rowspan="2" style="text-align:right">
            130元
        </td>
        <td rowspan="2" style="text-align:right"></td>
        <td rowspan="2" style="text-align:right"></td>

        <td>
            銘珍 - 藍絲可奶油芋泥餡
        </td>
        <td rowspan="2" style="text-align:right">
            130元
        </td>
        <td rowspan="2" style="text-align:right"></td>
        <td rowspan="2" style="text-align:right"></td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/image/Products/1kg藍絲可奶油烏豆沙.jpg" />
        </td>

        <td align="center">
            <img src="~/image/Products/1kg藍絲可奶油芋頭餡.jpg" />
        </td>
    </tr>

    <tr>
        <td>
            銘珍 - 藍絲可奶油綠豆沙
        </td>
        <td rowspan="2" style="text-align:right">
            130元
        </td>
        <td rowspan="2" style="text-align:right"></td>
        <td rowspan="2" style="text-align:right"></td>

        <td>
            銘珍 - 藍絲可奶油棗泥
        </td>
        <td rowspan="2" style="text-align:right">
            320元
        </td>
        <td rowspan="2" style="text-align:right"></td>
        <td rowspan="2" style="text-align:right"></td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/image/Products/1kg藍絲可奶油綠豆沙.jpg" />
        </td>

        <td align="center">
            <img src="~/image/Products/1kg藍絲可奶油棗泥.jpg" />
        </td>
    </tr>

    <tr>
        <td>
            銘珍 - 藍絲可奶油鳳梨醬
        </td>
        <td rowspan="2" style="text-align:right">
            360元
        </td>
        <td rowspan="2" style="text-align:right"></td>
        <td rowspan="2" style="text-align:right"></td>

        <td>
            銘珍 - 低糖白豆沙(需冷凍)
        </td>
        <td rowspan="2" style="text-align:right">
            140元
        </td>
        <td rowspan="2" style="text-align:right"></td>
        <td rowspan="2" style="text-align:right"></td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/image/Products/1kg藍絲可奶油鳳梨醬.jpg" />
        </td>

        <td align="center">
            <img src="~/image/Products/1kg低糖白豆沙.jpg" />
        </td>
    </tr>

    <tr>
        <td>
            銘珍 - 高雄9號低甜紅豆粒餡(需冷藏)
        </td>
        <td rowspan="2" style="text-align:right">
            160元
        </td>
        <td rowspan="2" style="text-align:right"></td>
        <td rowspan="2" style="text-align:right"></td>


    </tr>
    <tr>
        <td align="center">
            <img src="~/image/Products/1kg高雄9號低甜紅豆粒餡(需冷藏) .jpg" />
        </td>


    </tr>

    <tr>
        <td>
            銘珍 - 酒釀桂圓餡
        </td>
        <td rowspan="2" style="text-align:right">
            260元
        </td>
        <td rowspan="2" style="text-align:right">
            750元
        </td>
        <td rowspan="2" style="text-align:right"></td>

        <td>
            銘珍 - 百香金柚餡
        </td>
        <td rowspan="2" style="text-align:right">
            220元
        </td>
        <td rowspan="2" style="text-align:right">
            630元
        </td>
        <td rowspan="2" style="text-align:right"></td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/image/Products/酒釀桂圓餡.jpg" />
        </td>

        <td align="center">
            <img src="~/image/Products/百香金柚.jpg" />
        </td>
    </tr>

    <tr>
        <td>
            銘珍 - 拿鐵咖啡餡
        </td>
        <td rowspan="2" style="text-align:right">
            210元
        </td>
        <td rowspan="2" style="text-align:right">
            600元
        </td>
        <td rowspan="2" style="text-align:right"></td>

        <td>
            銘珍 - 法式栗子餡
        </td>
        <td rowspan="2" style="text-align:right">
            225元
        </td>
        <td rowspan="2" style="text-align:right">
            645元
        </td>
        <td rowspan="2" style="text-align:right"></td>
    </tr>
    <tr>
        <td align="center">
            <img src="~/image/Products/拿鐵咖啡餡.jpg" />
        </td>

        <td align="center">
            <img src="~/image/Products/法式栗子餡.jpg" />
        </td>
    </tr>
</table>
