<!-- http://cythilya.blogspot.tw/2015/02/bootstrap-rwd-template.html -->

<%- contentFor('body')%>

<div></div>
<div class="ts cards">
  <div class="ts primary card">
    <div class="content" href="./product/list">
      <a class="header" href="./product/list">product</a>
      <a class="description" href="./product/list"
        >進入產品功能，進行你的工作</a
      >
    </div>
  </div>

  <div class="ts primary card">
    <div class="content" href="./category/list">
      <a class="header" href="./category/list">category</a>
      <a class="description" href="./category/list"
        >進入分類功能，進行你的工作</a
      >
    </div>
  </div>

  <div class="ts primary card">
    <div class="content" href="./vendor/list">
      <a class="header" href="./vendor/list">vendor</a>
      <a class="description" href="./vendor/list"
        >進入供應商功能，功能進行你的工作</a
      >
    </div>
  </div>

  <div class="ts primary card">
    <div class="content" href="./shipment/new">
      <a class="header" href="./shipment/new">shipment new</a>
      <a class="description" href="./shipment/new"
        >進入出貨功能，功能進行你的工作</a
      >
    </div>
  </div>

  <div class="ts primary card">
    <div class="content">
      <div class="header">
        Yami Odymel
      </div>
      <div class="description">
        看似最重要的東西卻沒能被妥善利用，
        沒有人能發現這一點，因為他們早已活在過去， 才剛開始的序章卻被放在頁尾。
      </div>
    </div>
  </div>
</div>

<%- contentFor('js')%>
<script></script>

<%- contentFor('css')%>
