<!-- http://cythilya.blogspot.tw/2015/02/bootstrap-rwd-template.html -->

<%- contentFor('body')%>
<h1>
  <%=cool%>
</h1>

<h1>
  <a class="header" href="#">index.ejs</a>
</h1>

<%- contentFor('js')%>
<script></script>

<%- contentFor('css')%>
